.scrubber {
  display: block;
  position: relative;
  user-select: none;
  touch-action: none;
}
.scrubber * {
  user-select: none;
}
.scrubber .bar {
  background: rgba(100, 100, 100, 0.5);
  position: relative;
  transition: height 0.2s linear, width 0.2s linear;
  top: 50%;
  left: 0;
  // transform: translateY(-50%);
  height: 6px;
  width: 100%;
}

.scrubber .bar__progress {
  position: absolute;
  background: #019afd;
  height: 100%;
}

.scrubber .bar__thumb {
  position: absolute;
  width: 0px;
  height: 0px;
  border-radius: 10px;
  background: #019afd;
  transition: height 0.2s linear, width 0.2s linear;
  transform: translate(-50%, -50%);
  top: 50%;
  width: 12px;
  height: 12px;
}