.scrubber {
  width: 100%;
  float: left;
  touch-action: none;
}

.scrubber * {
  user-select: none;
}
.scrubber #bar {
  background: $PLAYER_BAR;
  position: relative;
  height: $PLAYER_BAR_HEIGHT;
  width: 100%;
  margin-top: 5.6px;
  cursor: pointer;
}

.scrubber #bar-progress {
  position: absolute;
  background: $PLAYER_BAR_PROGRESS;
  height: 100%;
}

.scrubber #bar-thumb {
  position: absolute;
  width: 0px;
  height: 0px;
  border-radius: 20px;
  background: $PLAYER_BAR_THUMB;
  transform: translate(-50%, -50%);
  top: 50%;
  width: $PLAYER_BAR_THUMB_HEIGHT;
  height: $PLAYER_BAR_THUMB_HEIGHT;
}

#bar:hover > #bar-thumb {
  transition: height 0.1s linear, width 0.1s linear;
  height: 18px;
  width: 18px;
}