.player-furniture-wrapper {
  height: 4px;
  width: 80vw;
  left: 10%;
  margin: auto;
  position: absolute;
  bottom: 20vh;
  display: grid;
  grid-template-columns: 5vw 5vw 5vw 40vw 25vw;
  grid-template-rows: auto;
  grid-template-areas: 
    "button1 button2 button3 playerbar playduration";
}