.page-home {
  background: $MAIN_BACKGROUND;
  width: $HOME_PAGE_WIDTH;
  height: calc(100.1vh - #{$PLAYER_FURNITURE_HEIGHT});
  overflow: scroll;
}

.home-text-wrapper {
  height: calc(90.1vh - #{$PLAYER_FURNITURE_HEIGHT} - #{$RABBIT_HEIGHT});
  padding-top: 10vh;
  overflow: scroll;
}

.home-header {
  margin: 0 5vw 4vh 5vw;
}

.home-subtitle-one {
  margin: 0 5vw 1vh 5vw;
}

.home-subtitle-two {
  margin: 0 5vw  0 5vw;
}

.home-last-subtitle {
  margin-bottom: 80px;
}

@media only screen and (min-width: 2000px) {
  .home-text-wrapper {
    width: 2000px;
  }
}

@media only screen and (min-width: 950px) {
  .page-home {
    width: 970px;
  }
}