$MAIN_BACKGROUND: rgb(243, 243, 243); //F3F3F3
$TITLE_GREY:  rgb(90, 90, 89); //5A5A59
$TEXT_GREY: rgb(159, 159, 159); //9F9F9F
$OVERLAY_BACKGROUND: rgba(55, 54, 54, 0.8); //373636
$OVERLAY_TEXT: rgb(255, 255, 255); //FFFFFF
$PLAYER_FURNITURE_BACKGROUND: rgb(30, 30, 30); //1E1E1E
$PLAYER_FURNITURE_TEXT: rgb(210, 210, 210); //D2D2D2
$PLAYER_BAR_PROGRESS: rgb(254, 219 ,14); //FEDB0E
$PLAYER_BAR_THUMB: rgb(210, 210, 210); //D2D2D2
$PLAYER_BAR: rgba(27, 114, 9, 0.3); //1B7209