// $MAIN_BACKGROUND: rgb(243, 243, 243); //F3F3F3
$MAIN_BACKGROUND: rgb(31,33,35); //1F2123
// $TEXT_GREY: rgb(73, 73, 73); //9F9F9F
// $TEXT_GREY: rgb(186, 180, 171);
$TEXT_GREY: #BAB4AB;
$TEXT_HYPERLINK: #D69F51;
$OVERLAY_BACKGROUND: rgb(31,33,35); //1F2123
$OVERLAY_TEXT: rgb(255, 255, 255); //FFFFFF
$PLAYER_FURNITURE_BACKGROUND: rgb(23, 24, 25); //171819
$PLAYER_FURNITURE_TEXT: rgb(210, 210, 210); //D2D2D2
$PLAYER_BAR_PROGRESS: rgb(254, 219 ,14); //FEDB0E
$PLAYER_BAR_THUMB: rgb(210, 210, 210); //D2D2D2
$PLAYER_BAR: rgba(27, 114, 9, 0.3); //1B7209