@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap%22%20rel=%22stylesheet");
@import url("https://fonts.googleapis.com/css2?family=Libre+Caslon+Text:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap");
.font-header {
  text-align: center;
  font-family: "Roboto";
  font-size: 4em;
  color: #9f9f9f;
}

.font-subtitle {
  text-align: center;
  font-family: "Roboto";
  font-size: 3em;
  color: #9f9f9f;
}

.font-player-bar {
  font-family: "Roboto";
  font-size: 1.5vw;
  color: #9f9f9f;
  text-align: right;
}

.font-overlay-title {
  font-family: "Libre Caslon Text", serif;
  font-size: 23px;
}

.font-overlay-subtitle {
  font-family: "Cormorant Garamond", serif;
  font-size: 32px;
}

.page-about {
  background: #f3f3f3;
  width: 908px;
  height: calc(100.1vh - 150px);
}

.image-me-bg {
  width: 100%;
  height: 100%;
  object-position: 58% 26.745%;
  object-fit: cover;
}

.page-home {
  background: #f3f3f3;
  width: 100vw;
  height: calc(100.1vh - 150px);
}

.page-portfolio {
  background: #f3f3f3;
  width: 960px;
  height: calc(100.1vh - 150px);
}

.grid-cont {
  height: 100%;
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.grid-item .port-img {
  height: 100%;
  width: 240px;
  object-position: 58% 26.745%;
  object-fit: cover;
}

.page-contact {
  background: #f3f3f3;
  width: 100vw;
  height: calc(100.1vh - 150px);
}

.scrubber {
  width: 85%;
  float: left;
  touch-action: none;
}

.scrubber * {
  user-select: none;
}

.scrubber .bar {
  background: rgba(27, 114, 9, 0.3);
  position: relative;
  height: 6.75px;
  width: 100%;
  margin-top: 5.6px;
}

.scrubber .bar__progress {
  position: absolute;
  background: #fedb0e;
  height: 100%;
}

.scrubber .bar__thumb {
  position: absolute;
  width: 0px;
  height: 0px;
  border-radius: 20px;
  background: #d2d2d2;
  transition: height 0.2s linear, width 0.2s linear;
  transform: translate(-50%, -50%);
  top: 50%;
  width: 15px;
  height: 15px;
}

.player-bar-duration {
  float: right;
  height: 18px;
}

.player-furniture-wrapper {
  height: 150px;
  background-color: #1e1e1e;
  z-index: 2;
  width: 100vw;
  position: relative;
  bottom: -webkit-calc(-100% + 150px);
}
.player-furniture-wrapper .rabbit-logo-wrapper {
  position: absolute;
  height: 90px;
  width: 90px;
  bottom: 150px;
  left: 50%;
  margin-left: -webkit-calc(-253px / 2);
}
.player-furniture-wrapper .rabbit-logo {
  height: 90px;
  width: 90px;
}
.player-furniture-wrapper .buttons-wrapper {
  position: absolute;
  bottom: 72px;
  width: 80vw;
  left: 50%;
  margin-left: -40vw;
}
.player-furniture-wrapper .player-bar-wrapper {
  position: absolute;
  bottom: 30px;
  width: 80vw;
  height: 18px;
  left: 50%;
  margin-left: -40vw;
}

.component-button {
  text-align: center;
  position: relative;
  float: left;
  width: 50px;
  height: 50px;
}

.component-button-image {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.other-buttons {
  float: right;
  margin-left: 15px;
}

.component-modal-wrapper {
  background: rgba(55, 54, 54, 0.8);
  color: white;
  opacity: 0.9;
  z-index: 1;
  height: 45%;
  width: 100%;
  position: absolute;
  bottom: 150px;
}

.component-modal {
  position: relative;
  text-align: center;
}

.overlay-subtitle {
  margin-top: 34px;
}

.overlay-title {
  margin-top: 11vh;
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-wrapper {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.outer-wrapper {
  width: 100vh;
  height: 100vw;
  transform: rotate(-90deg) translateX(-100vh);
  transform-origin: top left;
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.inner-wrapper {
  display: flex;
  flex-direction: row;
  width: calc( 100vw + 908px + 960px + 100vw);
  transform: rotate(90deg) translateY(-100.1vh);
  transform-origin: top left;
}

::-webkit-scrollbar {
  display: none;
}

/*# sourceMappingURL=index.css.map */
