@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap%22%20rel=%22stylesheet");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap%22%20rel=%22stylesheet");
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.page {
  width: 100vw;
  height: 100vh;
}

.outer-wrapper {
  width: 100vh;
  height: 100vw;
  transform: rotate(-90deg) translateX(-100vh);
  transform-origin: top left;
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.inner-wrapper {
  display: flex;
  flex-direction: row;
  width: 300vw;
  transform: rotate(90deg) translateY(-100vh);
  transform-origin: top left;
}

::-webkit-scrollbar {
  display: none;
}

.font-header {
  text-align: center;
  font-family: "Roboto";
  font-size: 4em;
  color: #b0a99f;
}

.font-subtitle {
  text-align: center;
  font-family: "Roboto";
  font-size: 3em;
  color: #b0a99f;
}

.page-about {
  background: green;
}

.page-home {
  background: #222526;
}

.page-portfolio {
  background: blue;
}

.scrubber {
  display: block;
  position: relative;
  user-select: none;
  touch-action: none;
  grid-area: playerbar;
}

.scrubber * {
  user-select: none;
}

.scrubber .bar {
  background: rgba(100, 100, 100, 0.5);
  position: relative;
  transition: height 0.2s linear, width 0.2s linear;
  top: 50%;
  left: 0;
  height: 6px;
  width: 100%;
}

.scrubber .bar__progress {
  position: absolute;
  background: #019afd;
  height: 100%;
}

.scrubber .bar__thumb {
  position: absolute;
  width: 0px;
  height: 0px;
  border-radius: 10px;
  background: #019afd;
  transition: height 0.2s linear, width 0.2s linear;
  transform: translate(-50%, -50%);
  top: 50%;
  width: 12px;
  height: 12px;
}

.player-furniture-wrapper {
  height: 4px;
  width: 80vw;
  left: 10%;
  margin: auto;
  position: absolute;
  bottom: 20vh;
  display: grid;
  grid-template-columns: 5vw 5vw 5vw 40vw 25vw;
  grid-template-rows: auto;
  grid-template-areas: "button1 button2 button3 playerbar playduration";
}

.component-button {
  background: rgba(0, 0, 0, 0.3);
  text-align: center;
  position: relative;
}

.component-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.component-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.component-modal {
  background: black;
  color: white;
  opacity: 0.9;
  z-index: 2;
  height: 90%;
  width: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*# sourceMappingURL=index.css.map */
