body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.page {
  width: 100vw;
  height: 100vh;
}

.app-wrapper {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.outer-wrapper {
  width: 100vh;
  height: 100vw;
  transform: rotate(-90deg) translateX(-100vh);
  transform-origin: top left;
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.inner-wrapper {
  display: flex;
  flex-direction: row;
  width: 300vw;
  transform: rotate(90deg) translateY(-100vh);
  transform-origin: top left;
}

::-webkit-scrollbar {
  display:none;
}

//Styles
@import './dimensions.scss';
@import './colours.scss';
@import './typography.scss';

//Pages
@import '../js/pages/About/About.scss';
@import '../js/pages/Home/Home.scss';
@import '../js/pages/Portfolio/Portfolio.scss';

//Components
@import '../js/components/PlayerBar/PlayerBar.scss';
@import '../js/components/PlayerFurniture/PlayerFurniture.scss';
@import '../js/components/Button/Button.scss';
@import '../js/components/Modal/Modal.scss';
@import '../js/components/Image/Image.scss';
@import '../js/components/Text/Text.scss';

//Responsive
@import './responsive.scss';