//Styles
@import './dimensions.scss';
@import './colours.scss';
@import './typography.scss';

//Pages
@import '../js/pages/About/About.scss';
@import '../js/pages/Home/Home.scss';
@import '../js/pages/Portfolio/Portfolio.scss';
@import '../js/pages/Contact/Contact.scss';

//Components
@import '../js/components/PlayerBar/PlayerBar.scss';
@import '../js/components/PlayerFurniture/PlayerFurniture.scss';
@import '../js/components/Button/Button.scss';
@import '../js/components/Modal/Modal.scss';
@import '../js/components/Image/Image.scss';
@import '../js/components/Text/Text.scss';

//Responsive
@import './responsive.scss';

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-wrapper {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.blur {
  filter: blur(3px);
}

.outer-wrapper {
  width: 100vh;
  height: 100vw;
  transform: rotate(-90deg) translateX(-100vh);
  transform-origin: top left;
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.inner-wrapper {
  display: flex;
  flex-direction: row;
  // width: calc( #{$HOME_PAGE_WIDTH} + #{$ABOUT_PAGE_WIDTH} + #{$PORTFOLIO_PAGE_WIDTH} + #{$CONTACT_PAGE_WIDTH});
  width: calc( 200vw + 908px + 960px);
  transform: rotate(90deg) translateY(-100.1vh);
  transform-origin: top left;
}

::-webkit-scrollbar {
  display:none;
}