//Styles
@import './dimensions.scss';
@import './colours.scss';
@import './typography.scss';

//Pages
@import '../js/pages/About/About.scss';
@import '../js/pages/Home/Home.scss';
@import '../js/pages/Portfolio/Portfolio.scss';
@import '../js/pages/Contact/Contact.scss';

//Components
@import '../js/components/PlayerBar/PlayerBar.scss';
@import '../js/components/PlayerFurniture/PlayerFurniture.scss';
@import '../js/components/Button/Button.scss';
@import '../js/components/Modal/Modal.scss';
@import '../js/components/Image/Image.scss';
@import '../js/components/Text/Text.scss';

//Responsive
@import './responsive.scss';

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a:link {
    text-decoration: none;
    color: $TEXT_HYPERLINK;
}

a:visited {
    text-decoration: none;
    color: $TEXT_HYPERLINK;
}

.app-wrapper {
  background-color: black;
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.blur {
  filter: blur(3px);
}

.outer-wrapper {
  width: 100vh;
  height: 100vw;
  transform: rotate(-90deg) translateX(-100vh);
  transform-origin: top left;
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.inner-wrapper {
  display: flex;
  flex-direction: row;
  // width: calc( 200vw + 908px + 960px);
  width: calc( 200vw + 720px + 960px);
  transform: rotate(90deg) translateY(-100.1vh);
  transform-origin: top left;
}

.right-button {
  width: 3vw;
  position: absolute;
  right: 30px;
  top: 60%;
  cursor: pointer;
  opacity: 0.2;
}

.right-button:hover {
  opacity: 1;
}

::-webkit-scrollbar {
  display:none;
}

@media only screen and (min-width: 1440px) {
  .right-button {
    width: 2vw;
  }
}

@media only screen and (min-width: 950px) {
  .inner-wrapper {
    display: flex;
    flex-direction: row;
    width: calc( 100vw + 720px + 960px + 970px);
  }
}
