@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap%22%20rel=%22stylesheet");
@import url("https://fonts.googleapis.com/css2?family=Libre+Caslon+Text:wght@400;700&display=swap"); //font-family: 'Libre Caslon Text', serif;
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap"); //font-family: 'Cormorant Garamond', serif;

.font-header {
  font-family: 'Libre Caslon Text', serif;
  font-size: 28px;
  line-height: 1.2em;
  color: $TEXT_GREY;
  text-align: left;
}

.font-subtitle {
  font-family: 'Cormorant Garamond', serif;
  font-size: 22px;
  line-height: 1.4em;
  color: $TEXT_GREY;
  text-align: left;
}

.font-player-bar {
  font-family: "Roboto";
  font-size: 2h;
  color: white;
  text-align: right;
}

.font-overlay-title {
  font-family: 'Libre Caslon Text', serif;
  font-size: 3vh;
  line-height: 1.2em;
}

.font-overlay-subtitle {
  font-family: 'Cormorant Garamond', serif;
  font-size: 3vh;
  line-height: 1.4em;
}